h1 {
  text-align: center;
  text-size: 160%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 33%;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}
